* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #147e0a;
    color: #fff;
    line-height: 1.6rem;
    overflow-x: hidden;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #82b366;
}

a{
    text-decoration-line: none;
}

header a {
    color: #fff;
    text-decoration-line: none;
}

.hcontainer{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 2fr 2fr 5fr;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-details {
    width: 60%;
}

.product-details img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.product-details h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
}

.product-details p {
    color: #fff;
}

.product-details .description {
    margin-top: 10px;
    color: #fff;
}

.product-details .rating {
    margin-top: 10px;
}

.product-details .price {
    margin-top: 10px;
    font-weight: bold;
}

.product-details .availability {
    margin-top: 10px;
    color: green;
}

.product-details .buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reviews {
    width: 35%;
}

.reviews h3 {
    margin-top: 20px;
    font-size: 20px;
}

.review {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #82b366;
}

.review .rating {
    color: #ffcc00;
}

.review-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #82b366 #f0f0f0;
}

.review-container::-webkit-scrollbar {
    width: 10px;
}

.review-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
}

.review-container::-webkit-scrollbar-thumb {
    background-color: #82b366; /* Thumb color */
    border-radius: 5px;
}

.review-image {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
.review .author {
    font-style: italic;
    color: #fff;
}


.footer {
    background-color: #82b366;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 800px){
    .hcontainer{
    grid-template-columns: 1fr 1fr;
    }
}