/*i have no clue why but giltab pages breaks if i do multiple css files*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #147e0a;
    color: #fff;
    line-height: 1.6rem;
    overflow-x: hidden;


}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #82b366;
}
a{
    text-decoration-line: none;
}

header a {
    color: #fff;
    text-decoration-line: none;
}

.hcontainer{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 2fr 2fr 5fr;
}

.wrapper{
    min-height: 100vh;
}

.container {
    justify-content: center;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
}

.icontainer{

    justify-content: center;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,500px);
}

.pcontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.product {
    margin: 20px;
    padding: 10px;
    
    border: 1px solid #ddd;
    background-color: #ddd;
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.product h2 {
    margin-top: 10px;
    font-size: 20px;
}

.description {
    margin-top: 10px;
    color: #666;
}

.rating {
    margin-top: 10px;
}

.stars {
    color: #ffcc00;
}

.previews {
    color: #666;
}

/*details*/
.product-details {
    width: 60%;
}

.product-details img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.product-details h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
}

.product-details p {
    color: #fff;
}

.product-details .description {
    margin-top: 10px;
    color: #fff;
}

.product-details .rating {
    margin-top: 10px;
}

.product-details .price {
    margin-top: 10px;
    font-weight: bold;
}


.product-details .buy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reviews {
    width: 35%;
}

.reviews h3 {
    margin-top: 20px;
    font-size: 20px;
}

.review {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #82b366;
}

.review .rating {
    color: #ffcc00;
}

.review-container {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #82b366 #f0f0f0;
}

.review-container::-webkit-scrollbar {
    width: 10px;
}

.review-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
}

.review-container::-webkit-scrollbar-thumb {
    background-color: #82b366; /* Thumb color */
    border-radius: 5px;
}

.review-image {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
.review .author {
    font-style: italic;
    color: #fff;
}


/*contact stuff*/

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form textarea {
    resize: vertical;
}

.contact form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #555;
}

.footer {
    background-color: #82b366;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 800px){
    .hcontainer{
    grid-template-columns: 1fr 1fr;
    }

    .contact form{
        max-width: 80%;
    }
    .review-image {
    max-width: 80px;
}
    .icontainer{

    grid-template-columns: repeat(auto-fill,90%);
}

    .searchbar{
        max-width: 100px;
    }

}